@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
    font-family: 'Inter', sans-serif;
}


.carousel-item img {
    filter: brightness(60%);
}

.h-text {
    margin-bottom: 6.5rem;

}

.h-text h1 {
    font-size: 4.5rem;
}