@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
    font-family: 'Inter', sans-serif;
}


.carousel-item img {
    filter: brightness(60%);
}

.h-text {
    margin-bottom: 6.5rem;

}

.h-text h1 {
    font-size: 4.5rem;
}

@media (max-width: 767.98px) {
    .h-text {
        padding-bottom: 0;
        margin-bottom: 23px;
        bottom: 0;
    }

    .h-text h1 {
        font-size: 1.5rem;
    }

    .h-text p {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .h-text button {
        padding: 0;
    }
}