@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
    font-family: 'Inter', sans-serif;
}

.carousel-item img {
    filter: brightness(60%);
}

.carousel-caption {
    margin-bottom: 10rem;
}

.carousel-caption h1 {
    font-size: 5rem;
}